<div class="pages">

  <div class="confirmationpopup addDiv none" id="addDiv">
    <div>
      <h2>Add Page</h2>
        <input type="text" placeholder="title" class="text" id="txtPageTitle">

      <div class="buttons">
        <button class="button btnSave" id="addPage" (click)="addPage()">
          <i class="far fa-save"></i>Add</button>
        <button class="button btnCancel" id="cancel" (click)="cancelAdd()">
          <i class="fas fa-ban"></i>Cancel</button>
      </div>
    </div>
  </div>

  <div class="confirmationpopup deleteDiv none" id="deleteDiv">
    <div>
      <p>
        Are you sure you want to remove this page?
      </p>
      <div class="deleteDivBtn">
        <input type="hidden" id="hiddenPageOrder">
        <button class="button btnSave" id="delete" (click)="deletePage()">
          <i class="fa fa-trash-alt"></i>Remove</button>
        <button class="button btnCancel" id="cancel" (click)="cancelDelete()">
          <i class="fas fa-ban"></i>Cancel</button>
      </div>

    </div>
  </div>

  <div class="pagesheader">
    <p>Last edited</p>
    <button class="button" id="addPage" (click)="addPageTemp()">
      <i class="fa fa-plus"></i> New page</button>
  </div>

  <hr>
  <ul>
    <li *ngFor='let page of ownWebsite.pages'  id="li{{page.pageOrder}}">
      <div class="pageGroup">
        <i class="fas fa-bars fa-5x"></i>
        <p class="title"> {{page.pageTitle}}</p>
        <p class="date">{{page.createdDate|date:'dd/MM/yyyy'}}</p>
        <a class="button btnEditPages1" href="/posts?pageorder={{page.pageOrder}}">
          <i class="fa fa-edit"></i>Edit</a>

        <!-- <button class="button btnEditPages1" ng-click="editPage()"><i class="fa fa-edit"></i>Edit</button> -->
        <button class="button btnTrash" id="delete{{page.postOrder}}" (click)="deletePageTemp(page.pageOrder)">
          <i class="fa fa-trash-alt"></i>
        </button>
      </div>
      <hr>
    </li>
  </ul>
</div>
