<div id="bodylogin">

  <div id="contactform">
    <div class="img">
      <h1>SIGN IN</h1>
      <img src=".\assets\Tekengebied 1dibitwhite.svg" alt="">

    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="loginData.email" name="email" required/>

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="loginData.password" name="password" required/>

      </div>

      <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>


    </form>
  </div>

</div>
