// $clrLight: #f0f7f4;
// $clrNav: #7e8d85;
// $clrMain: #3c493f;
//$clrThird: #c8d9e3; //pkmn
//$clrThird: #bfcde0;   
// $clrMain: #3e7cb1;
// $clrThird: #81a4cd;
// $clrSecond: #dbe4ee;


// $clrThird: #c8d9e3;
// $clrSecond: lighten($clrThird, 10%);
// $clrMain: darken($clrSecond, 60%);


// $clrMain: #3D5A80;
// $clrSecond: #98C1D9;
// $clrThird: #E0FBFC;
// $clrFourth: #EE6C4D;
// $clrFifth: #293241;


// $clrMain: #F3F3F3;
// $clrSecond: #B8D8D8;
// $clrThird: #7A9E9F;
// $clrFourth: #4F6367;
// $clrFifth: #FE5F55;

// $clrMain: #F3F3F3;
// $clrSecond: #89BBFE;
// $clrThird: #ACEDFF;
// $clrFourth: #6F8AB7;
// $clrFifth: #615D6C;

// $clrMain: #F3F3F3;
// $clrSecond: #B8C5D6;
// $clrThird: #ACEDFF;
// $clrFourth: #6F8AB7;
// $clrFifth: #615D6C; 

// $clrMain: #F3F3F3;
// $clrSecond: lighten(#7796CB, 25%);
// $clrThird: #82AEB1; 
// $clrFourth: #6F8AB7; 
// $clrFifth: #EB5E55; 

// $clrMain: #F3F3F3;
// $clrSecond: #6F8AB7;
// $clrThird: #6F8AB7; 
// $clrFourth: #006483; 
// $clrFifth: #EB5E55; 

// $clrMain: #F3F3F3;
// $clrSecond: #66b9bf;
// $clrThird: #66b9bf; 
// $clrFourth: #07889b; 
// $clrFifth: #e37222; 

// $clrMain: #d9d9d9;
// $clrSecond: #4484ce;
// $clrThird: #f9cf00; 
// $clrFourth: #4484ce; 
// $clrFifth: #f19f4d; 

$clrWhite: #FFFFFF;
$clrLight: #f3f3f4;
$clrMain: #3398d4;
$clrAccent: #faa953; 