@import "../scss/colors",
"../scss/mixins";
.pages {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  .pagesheader {
    display: flex;
    line-height: 2;
    margin-bottom: 10px;
    p {
      margin-right: 100px;
      margin-left: auto;
    }
    .button {
      margin-right: 20px;
    }
    #addPage {
      color: white;
    }
  }
  .confirmationpopup {
    div {
      .options {
        padding-top: 30px;
        .text {
          margin-bottom: 20px;
        }
        .textarea {
          height: 330px;
        }
      }
      .divButtons {
        position: absolute;
        bottom: 30px;
        display: flex;
        width: 100%;
        /* align-items: flex-start; */
        /* align-content: flex-start; */
        right: 30px;
        #imageUpload {
          margin-left: 60px;
        }
        img {
          border-radius: 6px;
          height: 160px;
          margin-right: auto;
          width: auto;
        }
        .button {
          margin-top: auto;
        }
      }
      .inputs {
        display: flex;
        flex-wrap: wrap;
        .option {
          cursor: pointer;
          min-width: 450px;
          width: auto;
          height: 180px;
          padding: 10px;
          margin: auto;
          margin-bottom: 15px;
          margin-top: 15px;
          border: 1px solid $darkGray;
          border-radius: 30px;
          text-align: center;
          h4 {
            font-size: 2em;
            font-family: EnzoLight;
            padding-bottom: 10px;
          }
          i {
            font-size: 8em;
          }
        }
      }
    }
  }
  #addDiv {
    div {
      .divButtons {
        .btnCancel {
          margin-left: auto;
        }
      }
    }
  }
  #addDivText {
    div {
      .divButtons {
        .btnSave {
          margin-left: auto;
        }
      }
    }
  }
  #addDivTextAndMultipleImages {
    div {
      .divButtons {
        #btnUploadTextAndMultipleImages {
          margin-left: 10px;
        }
        #TextAndMultipleImagesDiv {
          margin-left: 60px;
          width: 610px;
          display: flex;
          overflow-x: scroll;
        }
      }
      .options {
        .textarea {
          height: 220px;
        }
      }
    }
  }
  #addDivTextAndImage {
    div {
      .options {
        .textarea {
          height: 220px;
        }
      }
    }
  }
  ul {
    li {
      .pageGroup>i {
        font-size: 2em;
        color: $darkGray;
        margin-left: 20px;
      }
      .pageGroup {
        // line-height: 2;
        p {
          margin-top: 5px;
          margin-right: 20px;
          margin-left: 20px;
        }
        .true i {
          color: $darkGray;
          cursor: pointer;
          padding-top: 8px;
        }
        .false i {
          cursor: pointer;
          padding-top: 8px;
          color: $lightGray;
        }
        display: flex;
        margin-top:10px;
        margin-bottom:10px;
        .title {
          max-width: 400px;
          left: 20px;
        }
        .editTitle {
          margin-left: 20px;
        }
        .date {
          margin-right: 90px; // margin-left: auto;
        }
        .type {
          margin-right: 70px;
          margin-left: auto;
        }
        .btnEditPages1 {
          margin-right: 20px; // margin-left:auto;
        }
        .btnSave {
          background-color: $clrGreen; // margin-right: 20px;
          i {
            font-size: 1em;
          }
        }
      }
      .editMultipleImg {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        max-width: 800px;
        display: flex;
        overflow-x: scroll;
        img {
          margin-right: 10px;
        }
      }
      list-style: none;
    }
    div {
      .textarea {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

img {
  border-radius: 6px;
  height: 160px;
  margin-right: auto;
  width: auto;
}

.imageUploadTextAndMultipleImages {
  width: auto;
  height: 160px;
}

.kapot1 {
  width: auto;
  height: 160px;
}