<div class="pages">
  <h1>{{page.pageTitle}}</h1>

  <div class="confirmationpopup deleteDiv none" id="deleteDiv">
    <div>
      <p>
        Are you sure you want to remove this post?
      </p>
      <div class="deleteDivBtn">
        <input type="hidden" id="hiddenPostOrder">
        <button class="button btnSave" id="delete" (click)="deletePost()">
          <i class="fa fa-trash-alt"></i>Remove</button>
        <button class="button btnCancel" id="cancel" (click)='cancelAddPost("deleteDiv")'>
          <i class="fas fa-ban"></i>Cancel</button>
      </div>


    </div>
  </div>

  <div class="confirmationpopup addDiv none" id="addDiv">
    <div>
      <h2>Add Post</h2>
      <div class="inputs">
        <div class="option" (click)='showAddPost("addDivText")'>
          <h4>Text only</h4>
          <i class="far fa-file-alt"></i>
        </div>
        <div class="option" (click)='showAddPost("addDivTextAndImage")'>
          <h4>Text and image</h4>
          <i class="far fa-file-alt"></i>
          <i class="far fa-image"></i>
        </div>
        <div class="option" (click)='showAddPost("addDivTextAndMultipleImages")'>
          <h4>Text and multiple images</h4>
          <i class="far fa-file-alt"></i>
          <i class="far fa-images"></i>
        </div>
        <div class="option">
          <h4>Multiple images</h4>
          <i class="far fa-images"></i>
        </div>
      </div>
      <div class="divButtons">
        <!-- <button class="button btnSave" id="addPost" (click)="addPostTextOnly()">
          <i class="fa fa-plus"></i>add</button> -->
        <button class="button btnCancel" id="cancel" (click)="cancelAddPost('addDiv')">
          <i class="fas fa-ban"></i>Cancel</button>
      </div>
    </div>
  </div>

  <div class="confirmationpopup addDiv none" id="addDivText">
    <div>
      <h2>Add Post</h2>
      <div class="options">
        <input type="text" class="text" name="typePost" placeholder="title" id="addText">
        <textarea name="postText" id="addTextarea" class="textarea" placeholder="text" rows="10"></textarea>
      </div>
      <div class="divButtons">
        <button class="button btnSave" id="addPost" (click)="addPostDef()">
          <i class="fa fa-plus"></i>add</button>
        <button class="button btnCancel" id="cancel" (click)="cancelAddPost('addDivText')">

          <i class="fas fa-ban"></i>Cancel</button>
      </div>

    </div>
  </div>

  <div class="confirmationpopup addDiv none" id="addDivTextAndImage">
    <div>
      <h2>Add Post</h2>
      <div class="options">
        <input type="text" class="text" name="typePost" placeholder="title" id="addText1">
        <textarea name="postText" id="addTextarea1" class="textarea" placeholder="text" rows="10"></textarea>
      </div>
      <div class="divButtons">
        <img class="" alt="" id="imageUpload">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput accept="image/x-png,image/gif,image/jpeg">
        <button id="btnUploadTextAndImage" class="button" (click)="fileInput.click()">
          <i class="fa fa-plus"></i>Select image</button>

        <button class="button btnSave" id="addPostTextAndImage" (click)="addPostTextAndImageDef()" disabled>
          <i class="fa fa-plus"></i>add</button>
        <button class="button btnCancel" id="cancel" (click)="cancelAddPost('addDivTextAndImage')">

          <i class="fas fa-ban"></i>Cancel</button>
      </div>

    </div>
  </div>

  <div class="confirmationpopup addDiv none" id="addDivTextAndMultipleImages">
    <div>
      <h2>Add Post</h2>
      <div class="options">
        <input type="text" class="text" name="typePost" placeholder="title" id="addText2">
        <textarea name="postText" id="addTextarea2" class="textarea" placeholder="text" rows="10"></textarea>
      </div>
      <div class="divButtons">

        <div id="TextAndMultipleImagesDiv">
          <!-- hier komen fotos -->
        </div>

        <input style="display: none" type="file" (change)="onFileChangedMultipleImages($event)" #fileInputTextAndMultipleImages accept="image/x-png,image/gif,image/jpeg"
          multiple>
        <button id="btnUploadTextAndMultipleImages" class="button" (click)="fileInputTextAndMultipleImages.click()">
          <i class="fa fa-plus"></i>Select image</button>

        <button class="button btnSave" id="addPostTextAndMultipleImages" (click)="addPostTextAndMultipleImagesDef()" disabled>
          <i class="fa fa-plus"></i>add</button>
        <button class="button btnCancel" id="cancel" (click)="cancelAddPost('addDivTextAndMultipleImages')">

          <i class="fas fa-ban"></i>Cancel</button>
      </div>

    </div>
  </div>

  <div class="pagesheader">
    <p>Last edited</p>
    <button class="button" id="addPost" (click)="addPostTemp()">
      <i class="fa fa-plus"></i> New post</button>
  </div>

  <hr>
  <ul>
    <li *ngFor='let post of page.posts' id="li{{post.postOrder}}">
      <div class="pageGroup">
        <i class="fas fa-bars fa-5x"></i>
        <p class="postTitle" id="title{{post.postOrder}}" class="show"> {{post.postTitle}}</p>

        <a class="{{post.postVisible}} show" id="vis{{post.postOrder}}" (click)="postVisible(post.postOrder)">
          <i class="fas fa-eye"></i>
        </a>

        <input type="text" name="title" id="titletxt{{post.postOrder}}" [(ngModel)]="post.postTitle" class="editTitle none">

        <!-- <input type="text"  id="titletxt{{post.postOrder}}"  value="{{post.postTitle}}" class="editTitle none"> -->
        <i *ngIf='post.postType =="singlePhoto"' class="far fa-image type"></i>
        <i *ngIf='post.postType =="multiplePhotos"' class="far fa-images type"></i>
        <i *ngIf='post.postType =="noPhoto"' class="type"></i>

        <p class="date">{{post.postDate|date:'dd/MM/yyyy'}}</p>
        <!-- <a class="button btnEditPages1" href="/posts?pageorder={{page.pageOrder}}"><i class="fa fa-edit"></i>Edit</a> -->

        <button class="button btnSave none" id="save{{post.postOrder}}" (click)="savePost(post)">
          <i class="far fa-save"></i>Save</button>
        <button class="button btnEditPages1" id="edit{{post.postOrder}}" (click)="editPost(post.postOrder)">
          <i class="fa fa-edit"></i>Edit</button>

        <!-- <button class="button btnEditPages1" (click)="editPost()"><i class="fa fa-edit"></i>Edit</button>  -->
        <button class="button btnTrash" id="delete{{post.postOrder}}" (click)="deletePostTemp(post.postOrder)">
          <i class="fa fa-trash-alt"></i>
        </button>
      </div>
      <div id="text{{post.postOrder}}" class="none">
        <textarea name="postText" id="textarea{{post.postOrder}}" class="textarea" [(ngModel)]="post.postText" rows="10"></textarea>
        <img *ngIf='post.postType =="singlePhoto"' src="{{post.postPhotos[0]}}">
        <div *ngIf='post.postType =="multiplePhotos"' class="editMultipleImg">
          <img *ngFor='let img of post.postPhotos' src="{{img}}" alt="">


        </div>


      </div>
      <hr>
    </li>
  </ul>
</div>